{% extends 'base.html.twig' %}

{% block title %}Hello SearchMovieController!{% endblock %}

{% block body %}


    <table class="table table-striped">
        <thead>
    
        <tr>
        
            <td>Id</td>
        <td>Title</td>
          <td>Pic</td>
          

        </tr>

    </thead>
    <tbody>
    {% for inf in info %}
        <tr>

            <td> {{ inf.id }} </td>
            <td>  
                {{ inf.title}}
               
             </td>

             <td>  
                <img src="{{ inf.image }}"  width="100" >
             </td>
            <td><a class="text-success" href="{{ path('search.create',{name:inf.id} )}}">
                Add to stock
                </a></td>
        </tr>

         {% endfor %}

    </tbody>
    </table>
    


{% endblock %}
