{% extends 'base.html.twig' %}

{% block title %}VideoClub{% endblock %}

{% block body %}

    <h1> Welcome to VideoClub.com! </h1>

   <a href="{{ path('post.index') }}">List of movies for rent</a>
    
</div>
{% endblock %}
